@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@inject TwMerge TwMerge

<div class="grid grid-rows-[0fr] data-[state=open]:grid-rows-[1fr] transition-[grid-template-rows] duration-200 ease-out"
     role="region"
     aria-labelledby="@AccordionItem?.TriggerId"
     data-state="@AccordionItem?.DataState"
     data-disabled="@AccordionItem?.Disabled"
     data-orientation="@Accordion?.Orientation.ToAttributeValue(false)">
     <div class="overflow-hidden">
        <div id="@Id"
             class="overflow-hidden @(TwMerge.Merge(ClassValue))"
             data-state="@AccordionItem?.DataState"
             data-disabled="@AccordionItem?.Disabled"
             data-orientation="@Accordion?.Orientation.ToAttributeValue(false)"
             style="@Style"
             @ref="Ref"
             @attributes="Attributes">
            @ChildContent
        </div>
     </div>
</div>

@code {
    [CascadingParameter]
    InternalAccordionContext? Accordion { get; set; }

    [CascadingParameter]
    InternalAccordionItemContext? AccordionItem { get; set; }

    string? ClassValue => new CssBuilder(Class)
        .AddClass("pb-4 pt-0")
        .Build();
}