<div class="flex items-center gap-3">
    @* Online *@
    <div class="relative">
        <Avatar>
            <AvatarImage Src="https://avatars.githubusercontent.com/u/117208821?s=96&v=4" alt="rbs-toni" />
            <AvatarFallback>RT</AvatarFallback>
        </Avatar>
        <div class="h-2.5 w-2.5 ring-[2px] ring-background rounded-full bg-green-500 absolute bottom-0 right-0" />
    </div>

    @* DND *@
    <div class="relative">
        <Avatar>
            <AvatarImage Src="https://avatars.githubusercontent.com/u/117208821?s=96&v=4" alt="rbs-toni" />
            <AvatarFallback>RT</AvatarFallback>
        </Avatar>
        <div class="h-2.5 w-2.5 ring-[2px] ring-background rounded-full bg-red-500 absolute bottom-0 right-0" />
    </div>

    @* Busy *@
    <div class="relative">
        <Avatar>
            <AvatarImage Src="https://avatars.githubusercontent.com/u/117208821?s=96&v=4" alt="rbs-toni" />
            <AvatarFallback>RT</AvatarFallback>
        </Avatar>
        <div class="h-2.5 w-2.5 ring-[2px] ring-background rounded-full bg-yellow-500 absolute bottom-0 right-0" />
    </div>

    @* Offline *@
    <div class="relative">
        <Avatar>
            <AvatarImage Src="https://avatars.githubusercontent.com/u/117208821?s=96&v=4" alt="rbs-toni" />
            <AvatarFallback>RT</AvatarFallback>
        </Avatar>
        <div class="h-2.5 w-2.5 ring-[2px] ring-background border-2 border-muted-foreground rounded-full bg-background absolute bottom-0 right-0" />
    </div>
</div>
