@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@inject TwMerge TwMerge

<h5 id="@Id" class="@(TwMerge.Merge(ClassValue))" style="@Style" @ref=Ref @attributes=Attributes>
    @ChildContent
</h5>

@code {
    const string DefaultClasses = "mb-1 font-medium leading-none tracking-tight";

    string? ClassValue => new CssBuilder(Class).AddClass(DefaultClasses).Build();
}