@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@inject TwMerge TwMerge
@if (Show)
{
    <span id="@Id" class="@(TwMerge.Merge(ClassValue))" style="@Style" @ref="Ref" @attributes="Attributes">
        @ChildContent
    </span>
}

@code {
    [CascadingParameter]
    AvatarContext? AvatarContext { get; set; }

    bool Show => AvatarContext?.ImageLoadingStatus != ImageLoadingStatus.Loaded;

    const string DefaultClasses = "flex h-full w-full items-center justify-center rounded-full bg-muted";
    const string NewYorkClasses = "flex h-full w-full items-center justify-center rounded-full bg-muted";

    protected override void OnInitialized()
    {
        if (AvatarContext != null)
        {
            AvatarContext.PropertyChanged += (_, _) => InvokeAsync(StateHasChanged);
        }
    }

    string? ClassValue => new CssBuilder(Class)
        .AddClass(DefaultClasses, NewYorkClasses, IsDefaultStyle)
        .Build();
}