@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@inject TwMerge TwMerge

<div id="@Id" class="@(TwMerge.Merge(ClassValue))" style="@Style" @ref="Ref" @attributes="Attributes"></div>

@code {
    const string DefaultClasses = "animate-pulse rounded-md bg-primary/10";
    const string NewYorkClasses = "animate-pulse rounded-md bg-muted";

    string? ClassValue => new CssBuilder(Class)
        .AddClass(DefaultClasses, NewYorkClasses, IsDefaultStyle)
        .Build();
}