@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@inject TwMerge TwMerge

<CascadingValue Value="_context" IsFixed="true">
    <div id="@Id"
    class="@(TwMerge.Merge(Class))"
    style="@StyleValue"
    dir="@_context.Direction.ToAttributeValue()"
    @ref="Ref"
    @attributes="Attributes">
        @ChildContent
    </div>
</CascadingValue>

@code {
    string? StyleValue => new StyleBuilder(Style)
        .AddStyle("position", "relative")
        .AddStyle("--scroll-area-corner-width", _context.CornerWidth.ToPx())
        .AddStyle("--scroll-area-corner-height", _context.CornerHeight.ToPx())
        .Build();

    [Parameter]
    public ScrollType Type { get; set; } = ScrollType.Hover;

    [Parameter]
    public Direction Direction { get; set; }

    [Parameter]
    public int ScrollHideDelay { get; set; } = 600;
}