@namespace ShadcnBlazor
@inherits ShadcnComponentBase

<div id="@Id" class="@ClassValue" style="@Style" @ref=Ref @attributes=Attributes>
    @ChildContent
</div>
@code {
    const string DefaultClasses = "text-lg font-semibold";
    string? ClassValue => new CssBuilder(Class).AddClass(DefaultClasses).Build();
}