@namespace ShadcnBlazor.Docs
@inherits ShadcnComponentBase

<div class="theme-zinc w-full rounded-md">
    <div class="preview flex min-h-[350px] w-full justify-center p-10 items-center">
        @ChildContent
    </div>
</div>