@namespace ShadcnBlazor.Docs
@inherits ShadcnComponentBase

<p class="text-base text-muted-foreground">
    <span @ref=Ref style="display: inline-block; vertical-align: top;">
        @ChildContent
    </span>
</p>