@namespace ShadcnBlazor.Docs
@inherits ShadcnComponentBase

<div class="@Class">
    <Accordion Collapsible=false>
        <AccordionItem>
            <AccordionTrigger>
                Console log
            </AccordionTrigger>
            <AccordionContent>
                <div class="rounded-lg font-mono text-xs p-4 max-h-128 overflow-auto whitespace-pre-wrap border border-border">
                    @((MarkupString)FormattedConsoleContent)
                </div>
            </AccordionContent>
        </AccordionItem>
    </Accordion>
</div>

@code
{
    protected override void OnInitialized()
    {
        DemoLogger.OnLogHandler += OnLineReceived;

        base.OnInitialized();
    }

    async void OnLineReceived(string text)
    {
        ConsoleContent = $"{ConsoleContent}{Environment.NewLine}[{DateTime.Now:HH:mm:ss}] - {text}";
        await InvokeAsync(() => StateHasChanged());
    }

    [Parameter]
    public string ConsoleContent { get; set; } = "";

    string FormattedConsoleContent =>
        ConsoleContent.Replace(Environment.NewLine, "<br/>");
}