@namespace ShadcnBlazor.Docs
@inherits ShadcnComponentBase

<button class="group/toggle inline-flex h-8 w-8 items-center justify-center gap-2 whitespace-nowrap rounded-md px-0 py-2 text-sm font-medium transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0" @onclick=ToggleThemeAsync>
    <LucideIcon Name="IconName.Sun" Class="hidden [html.dark_&]:block" />
    <LucideIcon Name="IconName.Moon" Class="hidden [html.light_&]:block" />
    <span class="sr-only">Toggle theme</span>
</button>