@namespace ShadcnBlazor.Docs
@inherits ShadcnComponentBase

<footer class="border-grid border-t py-6 md:py-0">
    <ContainerWrapper>
        <Container Class="py-4">
            <div class="text-balance text-center text-sm leading-loose text-muted-foreground md:text-left">
                Built by
                <a href="https://twitter.com/shadcn" target="_blank" rel="noreferrer" class="font-medium underline underline-offset-4">
                    shadcn
                </a>.
                The source code is available on
                <a href="https://github.com/shadcn-ui/ui" target="_blank" rel="noreferrer" class="font-medium underline underline-offset-4">
                    GitHub
                </a>.
            </div>
        </Container>
    </ContainerWrapper>
</footer>