<div class="[&>h3]:step steps mb-12 ml-4 border-l pl-8 [counter-reset:step]">
    <h3 class="font-heading mt-8 scroll-m-20 text-lg font-semibold tracking-tight" id="create-project"><a class="font-medium underline underline-offset-4 subheading-anchor" aria-label="Link to section" href="#create-project"><span class="icon icon-link"></span></a>Create project</h3>
</div>