@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@inject TwMerge TwMerge

<span id="@Id" class="@ClassValue" style="@Style" @ref="Ref" @attributes="Attributes">
    @ChildContent
</span>

@code {
    const string DefaultClasses = "text-xs text-muted-foreground bg-background absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-center items-center";

    string? ClassValue => TwMerge.Merge(new CssBuilder(Class)
        .AddClass(DefaultClasses)
        .AddClass("w-[1px] px-1 py-2", "h-[1px] py-1 px-2", Orientation == Orientation.Vertical)
        .Build());

    [Parameter]
    public Orientation Orientation { get; set; }
}