@namespace ShadcnBlazor
@inherits Button

<Button Id="@Id"
        Class="@Class"
        Style="@Style"
        Variant="Variant"
        Size="Size"
        Ref=Ref
        aria-control="@Context?.ContentId"
        aria-expanded="@Context?.Open"
        data-state="@OpenValue"
        data-disabled="@Context?.Disabled"
        disabled="@Context?.Disabled"
        @attributes="Attributes"
        @onclick=ToggleOpenAsync>
    @ChildContent
</Button>

@code {
    [CascadingParameter]
    CollapsibleContext? Context { get; set; }

    string OpenValue => Context?.Open == true ? "open" : "closed";

    async Task ToggleOpenAsync()
    {
        if (Context != null)
        {
            await Context.ToggleOpenAsync();
            if (Context.Open)
            {
                OnOpen.InvokeAsync(true);
            }
        }
    }

    [Parameter]
    public EventCallback<bool> OnOpen { get; set; }
}