@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@typeparam TValue where TValue : System.Numerics.INumber<TValue>

<span id="@Id"
      class="@Class"
      style="@Style"
      data-disabled="@RootContext?.Disabled"
      data-orientation="@RootContext?.Orientation.ToAttributeValue(false)"
      @ref="Ref"
      @attributes="Attributes">
    @ChildContent
</span>

@code {
    [CascadingParameter]
    SliderRootContext<TValue>? RootContext { get; set; }
}