@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@typeparam TValue where TValue : System.Numerics.INumber<TValue>

<span id="@Id"
      data-slider-impl
      class="@Class"
      style="@Style"
      @ref="Ref"
      @attributes="Attributes">
    @ChildContent
</span>

@code {
    [CascadingParameter]
    SliderRootContext<TValue>? RootContext { get; set; }

    [Parameter]
    public EventCallback<PointerEventArgs> OnSlideStart { get; set; }

    [Parameter]
    public EventCallback<PointerEventArgs> OnSlideMove { get; set; }

    [Parameter]
    public EventCallback<PointerEventArgs> OnSlideEnd { get; set; }

    [Parameter]
    public EventCallback<KeyboardEventArgs> OnHomeKeyDown { get; set; }

    [Parameter]
    public EventCallback<KeyboardEventArgs> OnEndKeyDown { get; set; }

    [Parameter]
    public EventCallback<KeyboardEventArgs> OnStepKeyDown { get; set; }
}