@namespace ShadcnBlazor
@inherits ShadcnComponentBase

<span id="@Id" class="@ClassValue" style="@Style" @ref=Ref @attributes=Attributes role="link"
      aria-disabled="true"
      aria-current="page" data-slot="breadcrumb-page">
    @ChildContent
</span>

@code {
    string? ClassValue => new CssBuilder(Class)
        .AddClass("text-foreground font-normal")
        .Build();
}