@namespace ShadcnBlazor
@inherits ShadcnComponentBase

<nav id="@Id" class="@Class" style="@Style" @ref=Ref @attributes=Attributes aria-label="breadcrumb" data-slot="breadcrumb">
    @ChildContent
</nav>