@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@using TailwindMerge
@inject TwMerge TwMerge

<div id="@Id"
     class="@(TwMerge.Merge(ClassValue))"
     style="@Style"
     role="tablist"
     aria-orientation="@Tabs?.Orientation.ToStringFast()"
     @ref=Ref
     @attributes=Attributes>
    @ChildContent
</div>

@code {
    const string DefaultClasses = "inline-flex items-center justify-center rounded-lg bg-muted p-1 text-muted-foreground";

    [CascadingParameter]
    Tabs? Tabs { get; set; }

    string? ClassValue => new CssBuilder(Class).AddClass(DefaultClasses).Build();

    protected override void OnInitialized()
    {
        if (Tabs != null)
        {
            Tabs.OnChanged += () => InvokeAsync(StateHasChanged);
        }
    }
}