@namespace ShadcnBlazor.Docs.Pages.Examples

<div class="flex items-center space-x-2">
    <Switch Id="terms" />
    <Switch Class="data-[state=checked]:bg-green-500" />      
    <Switch Class="data-[state=checked]:bg-indigo-500" />      
    <Switch Class="data-[state=checked]:bg-rose-500" />
</div>