@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@using TailwindMerge
@inject TwMerge TwMerge

<label id="@Id"
       class="@(TwMerge.Merge(ClassValue))"
       style="@Style"
       for="@For"
       @ref=Ref
       @attributes=Attributes>
    @ChildContent
</label>

@code {
    [Parameter]
    public string? For { get; set; }

    const string DefaultClasses = "text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70";

    string? ClassValue => new CssBuilder(Class)
        .AddClass(DefaultClasses)
        .Build();
}