@namespace ShadcnBlazor
@inherits ShadcnComponentBase

<div id="@Id" class="@ClassValue" style="@Style" @ref=Ref @attributes=Attributes>
    @ChildContent
</div>

@code{
    const string DefaultClasses = "flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2";
    const string NewYorkClasses = "flex flex-col-reverse sm:flex-row sm:justify-end sm:gap-x-2";

    string? ClassValue => new CssBuilder(Class)
        .AddClass(DefaultClasses, NewYorkClasses, IsDefaultStyle)
        .Build();
}