@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@inject TwMerge TwMerge

<div class="relative w-full overflow-auto">
    <table id="@Id" class="@(TwMerge.Merge(ClassValue))" style="@Style" @ref="Ref" @attributes="Attributes">
        @ChildContent
    </table>
</div>

@code {
    const string NewYorkClasses = "w-full caption-bottom text-sm";

    string? ClassValue => new CssBuilder(Class)
        .AddClass(NewYorkClasses)
        .Build();
}