@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@inject TwMerge TwMerge

<TableRow>
    <TableCell Id="@Id" Class="p-4 whitespace-nowrap align-middle text-sm text-foreground" Style="@Style" @attributes=Attributes>
        <div class="flex items-center justify-center py-10">
            @ChildContent
        </div>
    </TableCell>
</TableRow>

@code {
    const string NewYorkClasses = "flex items-center justify-center py-10";

    string? ClassValue => new CssBuilder(Class)
        .AddClass(NewYorkClasses)
        .Build();
}