@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@inject TwMerge TwMerge

<td id="@Id" class="@(TwMerge.Merge(ClassValue))" style="@Style" @ref="Ref" @attributes="Attributes">
    @ChildContent
</td>

@code {
    const string NewYorkClasses = "p-2 align-middle [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-0.5";

    string? ClassValue => new CssBuilder(Class)
        .AddClass(NewYorkClasses)
        .Build();
}